html,
body {
  background-color: #d0d0d0;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.app {
  max-width: 1000px;
  background: white;
}

.form {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: 1fr;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  grid-gap: 1rem;
  align-items: stretch;
}


.form :is(input, select) {
  margin: 0;
  text-align: center;
  font-weight: 600;
  border: 0;
}

.form :is(input, select):focus {
  outline-color: red;
}

.form input {
  width: 250px;
}

.form select {
  background: yellow;
  border: 0;
  padding: 1.5rem;
}

.form>* {
  background: yellow;
  margin: 0;
  -webkit-appearance: none;
  display: grid;
  align-content: center;
}